body {
  width: 100%;
  color: #2f2d2e;
  background-color: #f4f9e9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  margin-top: 5em;
}
.row{
    margin-top: 5em;
}
#teamPhoto{
    width: 100%;
    height: auto;
}
#intro {
  text-align: center;
}
.cards{
    display: flex;
    justify-content:center;
    flex-direction: row;
    
    
}
.player{
   display: flex;
   justify-content: center;
   transition: .2s;
}
.player:hover{
    transform: scale(1.05);
   
}
#video{
    width: 100%;
    height: 20em;
}
#videoParagraph{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #103f79;
    color: #f7f7f7;
}
#list{
    
    margin-top: 2em;
}
#requirements{
    
    text-align: center;
   
}
h3{
    padding-top: 1em;
}
#requirementsRow{
    background-color: #f3b229;
    color: #5f5e5e ;
}
footer{
    margin-top: 2em;
}
::-webkit-scrollbar{
    width: 10px;
  
  }
  ::-webkit-scrollbar-thumb{
    background-color: #103f79;
    opacity: 0.8;
    transition: .2s;
   
    border-radius: 15px
  }
  ::-webkit-scrollbar-thumb:hover{
    opacity: 1;
  }
  ::-webkit-scrollbar-track{
    background-color: rgb(201, 200, 200);
    opacity: 0.5;
  }

  #playersTable th, td{
    border: 2px solid black;
    text-align: center;
    background-color: lightgrey;
    padding: 10px;
    
  }
  #playersTable{
    width: 100%;

  }